.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #731A0F;
    padding: 1rem;
    z-index: 1000;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff9800;
}

.navbar img {
    display: block;
}

.header-links {
    display: flex;
    color: white;
    gap: 2rem;
    list-style: none;
    /* quita los bullets */
    padding: 0;
    /* elimina el padding por defecto del ul */
    margin: 0;
    /* elimina el margen por defecto del ul */
}

.header-links li:hover {
    color: #ff9800;
}